%nav.navbar.navbar-light.bg-faded
  %ul.nav.navbar-nav
    %li.nav-item.active
      = link_to "Home", root_path , class: "nav-link"
    %li.nav-item
      = link_to "Posts", posts_path , class: "nav-link"
    %li.nav-item
      = link_to "Contact", "" , class: "nav-link"
    %li.nav-item
      = link_to "About", "" , class: "nav-link"
    %li.nav-item
      = link_to "Authors", authors_posts_path , class: "nav-link"